<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.bluez.jcop.eclipse.launcher">
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell">
<mapEntry key="autoupload" value="true"/>
</mapAttribute>
<listAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell/__dir__entries">
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell/cmdsbefore"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell/cmdsafter"/>
</listAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell/cmdsafter"/>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell/cmdsbefore"/>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell2">
<mapEntry key="clearbuf" value="true"/>
</mapAttribute>
<listAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell2/__dir__entries">
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell2"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.shell2/scriptpath"/>
</listAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.shell2/scriptpath">
<mapEntry key="0" value="/Phonon/Scripts"/>
</mapAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.target">
<mapEntry key="simul" value="com.ibm.bluez.jcop.eclipse.targetpack.smartmx.simuls.smartmx"/>
</mapAttribute>
<listAttribute key="com.ibm.bluez.jcop.eclipse.lcc.target/__dir__entries">
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.target"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.target/simulconfig"/>
</listAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.target/cmkeys">
<mapEntry key="0" value="1/1/DES-ECB/c212e073ff8b4bbfaff4de8ab655221f"/>
<mapEntry key="1" value="1/2/DES-ECB/c212e073ff8b4bbfaff4de8ab655221f"/>
<mapEntry key="2" value="1/3/DES-ECB/c212e073ff8b4bbfaff4de8ab655221f"/>
</mapAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.target/simulconfig">
<mapEntry key="ADDITIONAL_INPUT_CHECK_BOX" value="false"/>
<mapEntry key="addParams" value=""/>
<mapEntry key="fabKey" value="com.ibm.bluez.jcop.eclipse.targetpack.smartmx.SECIDCSP60"/>
<mapEntry key="keyversionFilter" value="false"/>
<mapEntry key="useRunSimulResetDebugConfigSelection" value="false"/>
<mapEntry key="useRunSimulTerminationSelection" value="false"/>
<mapEntry key="useRunSimulationSelection" value="false"/>
</mapAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.upload"/>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.upload/0">
<mapEntry key="pkgspec" value="pkg://Phonon/im.status.phonon"/>
</mapAttribute>
<mapAttribute key="com.ibm.bluez.jcop.eclipse.lcc.upload/0/0">
<mapEntry key="appspec" value="PhononApplet"/>
</mapAttribute>
<listAttribute key="com.ibm.bluez.jcop.eclipse.lcc.upload/__dir__entries">
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.upload"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.upload/0"/>
<listEntry value="com.ibm.bluez.jcop.eclipse.lcc.upload/0/0"/>
</listAttribute>
</launchConfiguration>
